.rig
  display: flex
  flex-direction: column
  height: 100vh


.rig-row
  display: flex
  flex-wrap: nowrap
  height: 50%
  overflow: hidden
  width: 100vw

.rig-item
  flex-grow: 1
  flex-shrink: 1
  flex-basis: auto
  min-width: 30%
  overflow: hidden


