.rig
  display: flex
  flex-direction: row
  height: 100vh
  width: 100vw
  wrap: nowrap


.rig-column
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  height: 100vh
  width: 50vw

.rig-row
  display: flex
  flex-wrap: nowrap
  height: 50vh
  overflow: hidden
  // width: 100vw

.rig-item
  flex-grow: 1
  flex-shrink: 1
  flex-basis: auto
  width: 33%
  // overflow: hidden


